.container {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start; 
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    /* flex-wrap: wrap; */
}

div.container div.flex-element{
    border: 2px solid blue;
}

.flex-element {
    box-sizing: border-box;
    width: 50px;
    height: 50px; 
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    background-color: chocolate ;
    background: linear-gradient(to left, red, green);
    border-radius: 6px;
    box-shadow: 5px 7px 3px black;
    transition: transform 0.1s cubic-bezier(0.33, -0.85, 0.84, 1.38);
}

.flex-element.three {
    order: -1;
    align-self: flex-end;
    flex-basis: 100px;
    /* sflex-grow: 1; */
    flex-shrink: 5;
}

.flex-element.two {
    order: 5;
    flex-basis: 120px;
    flex-shrink: 1;
}
.flex-element.one {
    flex-basis: 40px;
    flex-shrink: 2;
}
.flex-element.four {
    flex-basis: 60px;
    flex-shrink: 3;
}
.flex-element.five {
    flex-basis: 80px;
    flex-shrink: 4;
}

.flex-element:hover {
    transform: scale(1.2) rotate(98deg);
 }